.wep {
    box-sizing: border-box;
    width: 20%;
    margin: 5px;
    padding: 5px;
    
}

.wep:first-child {
    margin-left: 0px;
}

.wep:last-child{
    margin-right: 0px;
}

.search {
    background-color: #ffffff;
    padding: 20px;
}

.uvindex {
    padding: 5px;
}
.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}

.uvindex {
    padding: 5px;
}

#searchbtn{
    padding: 6px 5px 0px 5px;

}

